[submodule "lora-mimo/ip/gf180mcu_ocd_ip_sram"]
	path = lora-mimo/ip/gf180mcu_ocd_ip_sram
	url = https://github.com/RTimothyEdwards/gf180mcu_ocd_ip_sram
[submodule "lora-mimo/ip/gf180mcu_fd_ip_sram"]
	path = lora-mimo/ip/gf180mcu_fd_ip_sram
	url = https://github.com/google/globalfoundries-pdk-ip-gf180mcu_fd_ip_sram
[submodule "lora-mimo/ip/picorv32"]
	path = lora-mimo/ip/picorv32
	url = https://github.com/YosysHQ/picorv32
[submodule "lora-mimo/ip/sscs-chipathon-2026"]
	path = lora-mimo/ip/sscs-chipathon-2026
	url = https://github.com/sscs-ose/sscs-chipathon-2026.git
[submodule "lora-mimo/ip/gf180mcu_osu_sc"]
	path = lora-mimo/ip/gf180mcu_osu_sc
	url = https://github.com/stineje/globalfoundries-pdk-libs-gf180mcu_osu_sc.git
[submodule "lora-mimo/ip/ws-run1"]
	url = https://github.com/wafer-space/ws-run1
	path = lora-mimo/ip/ws-run1
	branch = main
[submodule "lora-mimo/ip/gf180mcu_as_sc_mcu7t3v3"]
	path = lora-mimo/ip/gf180mcu_as_sc_mcu7t3v3
	url = https://github.com/AvalonSemiconductors/gf180mcu_as_sc_mcu7t3v3.git
[submodule "lora-mimo/integration/ip/grouper"]
	path = lora-mimo/integration/ip/grouper
	url = https://github.com/Sheffield-Chip-Design-Team/chipathon-2026-grouper.git
	branch = dev
[submodule "lora-mimo/integration/ip/trouper"]
	path = lora-mimo/integration/ip/trouper
	url = https://github.com/Sheffield-Chip-Design-Team/chipathon-2026-trouper.git
	branch = main
