@bus_major

#S
$11
IQ_CLK
IQ_DATA_I_0
IQ_DATA_I_1
IQ_DATA_I_2
IQ_DATA_I_3
IQ_DATA_Q_0
IQ_DATA_Q_1
IQ_DATA_Q_2
IQ_DATA_Q_3
REMOD_A_I
REMOD_A_Q

#N
GPIO_5
GPIO_6
GPIO_7
GPIO_8
GPIO_9
GPIO_10
GPIO_11
GPIO_12
GPIO_13
GPIO_14
GPIO_15
$1
HOST_CS
SPI_SCK
SPI_MOSI
SPI_MISO
$6

#W
$11
HCLK
HRESETn
UART_RX
UART_TX
GPIO_0
GPIO_1
GPIO_2
GPIO_3
GPIO_4
$2

#E
PSRAM_SCK
PSRAM_CE_N
PSRAM_SIO_0
PSRAM_SIO_1
PSRAM_SIO_2
PSRAM_SIO_3
IRQ_OUT
$4
$11
